<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.full_name %>様</h1>
      <p>
      この度は、NextBosyuへの登録をいただきありがとうございます！

      このサイトへの登録を完了するには、下記のURLから認証を行っていただく必要があります。
      <%= @url %>
    </p>
    <p>どうぞお楽しみくださいませ。</p>
  </body>
</html>