<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.full_name %>様</h1>
      <p>
      この度は、NextBosyuへの登録をいただきありがとうございます！

      このサイトへの登録を完了するには、下記のURLから認証を行っていただく必要があります。

      Twitterに投稿する
      <%# <%= @url %> %>
      <%= url_for(host: 'fccc-2400-4153-e003-ea00-d8d4-503e-9bef-1b2.ap.ngrok.io',
            controller: 'mail_auth',
            action: 'redirect_top_page') %>
    </p>
    <p>どうぞお楽しみくださいませ。</p>
  </body>
</html>